<div class="bg-gradient-to-r from-black to-gray-600 text-white p-4 flex-none rounded">
  <!-- Main container -->
  <div class="container mx-auto flex items-center justify-between text-black mainContent">

    <!-- Left section -->
    <div class="flex items-center space-x-4 leftSection">
      <img src="../../assets/Betcoin.png" style="width: 3vh; cursor: pointer;" (click)="homeEmitEvent()">
      <!-- Searchbar -->
      <div class="relative w-1/3">
        <input type="text" placeholder="Search..." class="w-full py-2 px-3 rounded-lg border border-gray-300 focus:border-purple-400 focus:outline-none text-black searchBar">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <i class='bx bx-search-alt-2'></i>
        </span>
      </div>
      <!-- Buttons -->
      <div class="space-x-4">
        <button class="text-black bg-purple-200 hover:bg-purple-100 px-3 py-2 rounded-lg" (click)="homeEmitEvent()">
            <i class='bx bx-home'></i> Betit
        </button>
        <button class="text-white"><i class='bx bxs-bell' id="notifBell"></i></button>
        <button class="text-white"><i class='bx bx-message-square-dots' id="chatCloud"></i></button>
        <button class="text-white"><i class='bx bx-coin'></i></button>
      </div>
    </div>

    <!-- Center section (Logo) -->
    <div class="flex items-center space-x-2 centerSection" style="height: 3.5vw">
      <div class="banner" style="cursor: pointer;" (click)="homeEmitEvent()">
          <span class="b">B</span>
          <span class="et">E</span>
          <span class="et">T</span>
          <span class="i">I</span>
          <span class="t">T</span>
      </div>
      <div class="slogan absolute bottom-0 left-0 right-0 text-center" style="cursor: pointer; margin-right: 1%;">
        Wanna bet?
      </div>
    </div>

    <!-- Right section (Account) -->
    <div class="flex items-center space-x-2 rightSection">

      <span class="contactUs" (click)="contactEmitEvent()">Contact</span>

      <button class="live-button">
        <span class="live-dot"></span>
        CHAT-ROOM
      </button>      

      <div class="bg-white rounded-full w-10 h-10 flex items-center justify-center">
        <img src="../../assets/profile pic.jpeg" id="profileAvatar">
      </div>
      <div class="flex flex-col">
        <span class="text-white">Sebastian</span>

        <div class="input-container">
          <input type="text" readonly value="2550" class="text-xs bg-gray-100 rounded px-1 py-0.5 w-auto border-0 focus:ring-0 custom-input">
          <span class="input-asset">
            <img src="../../assets/Betcoin.png" style="width: 2vh;">
          </span>
        </div>
        
      </div>
    </div>   
          
  </div>
</div>
