<main class="h-screen w-full">

    <!-- HeaderComponent goes here, full width at the top -->
    <header>
        <headercomponent></headercomponent>
    </header>

    <section class="mt-6 w-full rounded text-center py-4 bg-gradient-to-r from-teal-500 to-green-400 text-white">
        Where Social Networking Meets Pop Culture Betting
    </section>    

    <!-- Main content area, flexbox layout -->
    <div class="flex flex-row justify-between min-h-screen">

        <!-- Left SidebarComponent -->
        <aside class="w-1/4 bg-white shadow-md">
            <!-- <sidebar-component></sidebar-component> -->
        </aside>

        <!-- Main content middle area -->
        <article class="w-1/2 p-4">

            <!-- SearchComponent -->
            <section>
                <!-- <search-component></search-component> -->
            </section>

            <!-- MainContentComponent goes here for displaying articles and such -->
            <section>
                <!-- <main-content-component></main-content-component> -->
            </section>

        </article>

        <!-- Right SidebarComponent -->
        <aside class="w-1/4 bg-white shadow-md">
            <!-- <sidebar-component></sidebar-component> -->
        </aside>

    </div>

</main>
