<main class="h-screen w-full">

    <!-- HeaderComponent goes here, full width at the top -->
    <header>
        <headercomponent (contactClicked)="handleButtonClick($event)" (homeClicked)="handleButtonClick($event)"></headercomponent>
    </header>

    <!-- <section class="mt-6 w-full rounded text-center py-4 text-white sloganBg">
        <strong>Wanna bet ?</strong>
    </section>     -->

    <!-- Remove tailwind class -->
    <section>
        <div class="menu-container mt-6 w-full rounded text-center py-4 text-white sloganBg">
          <button class="menu-button" [class.active]="activeButton === 'Ending Soon'" (click)="setActive('Ending Soon')">Ending Soon</button>
          <button class="menu-button" [class.active]="activeButton === 'New'" (click)="setActive('New')">New</button>
          <button class="menu-button" [class.active]="activeButton === 'Trending'" (click)="setActive('Trending')">Trending</button>
          <button class="menu-button" [class.active]="activeButton === 'Volume'" (click)="setActive('Volume')">Volume</button>
          <button class="menu-button" [class.active]="activeButton === 'Liquidity'" (click)="setActive('Liquidity')">Liquidity</button>
        </div>
    </section>
      

    <div class="flex flex-row justify-between min-h-screen">

        <!-- Left SidebarComponent -->
        <aside class="w-1/4 bg-smokewhite">
            
            <mat-card class="yourShortcuts" style="position: sticky; top: 2%;">
                <div class="shortcutsHeader" style="width: 100%">
                    <span>Activity</span>
                    <span style="color: gray; font-size: smaller; cursor: pointer">See all</span>
                </div>
                <div class="separator"></div>
                <div class="shortcutsContent">
                    <div class="shortcutsCombo">
                        <img src="../assets/activity1.avif" class="shortcutsPic">
                        <span> <strong>Bet on Global Politics:</strong> You've placed a bet on "Will Prigozhin make an appearance by Friday?" </span>

                    </div> <br/>
                    <div class="shortcutsCombo">
                        <img src="../assets/activity2.avif" class="shortcutsPic">
                        <span> <strong>Viewed Elections Market:</strong> You've viewed the market for the U.S. 2024 Republican presidential nomination. </span>
                    </div>
                </div>
            </mat-card>
            <mat-card class="yourShortcuts" style="position: sticky; top: 50%;">
                <div class="shortcutsHeader" style="width: 100%">
                    <span>Your shortcuts</span>
                    <span style="color: gray; font-size: smaller; cursor: pointer">See all</span>
                </div>
                <div class="separator"></div>
                <div class="shortcutsContent">
                    <div class="shortcutsCombo">
                        <img src="../assets/globalPolitics.avif" class="shortcutsPic">
                        <span> Global Politics </span>

                    </div>
                    <div class="shortcutsCombo">
                        <img src="../assets/elections.avif" class="shortcutsPic">
                        <span> Elections </span>

                    </div>
                    <div class="shortcutsCombo">
                        <img src="../assets/space.avif" class="shortcutsPic">
                        <span> Sports </span>

                    </div>
                    <div class="shortcutsCombo">
                        <img src="../assets/hollywood.avif" class="shortcutsPic">
                        <span> Celebrities </span>

                    </div>
                </div>
            </mat-card>
        </aside>

        <!-- Main content middle area -->
        <article class="w-1/2 p-4 articleContent" *ngIf="!contactPage">

            <app-post-component></app-post-component>

            <div class="flex items-center justify-between border-b py-2">
                <div class="flex-1 border-t border-gray-400"></div>
                <button mat-button [matMenuTriggerFor]="menu" class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg">
                  <i *ngIf="!isMenuOpen" class='bx bx-chevron-down'></i>
                  <i *ngIf="isMenuOpen" class='bx bx-chevron-up'></i> Recent
                </button>
            </div>
 
            <mat-menu #menu="matMenu" (menuOpened)="isMenuOpen = true" (menuClosed)="isMenuOpen = false">
                <button mat-menu-item class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg" id="hoverMe">Recent</button>
                <button mat-menu-item class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg" id="hoverMe">Hot</button>
            </mat-menu>
              

            <!-- MainContentComponent goes here for displaying articles and such -->
            <section>
                <app-article-generator></app-article-generator>
            </section>

        </article>

        <!-- Main content middle area CONTACT -->
        <article class="w-1/2 p-4" *ngIf="contactPage" style="margin-top: 1%;">
            <mat-card class="matCardContact">
                <div class="contact-header">
                  <h2>Aaron W | Founder</h2>
                </div>
                <div class="contact-details">
                  <p><strong>Email:</strong> <a href="mailto:aaron@rideapp.co">aaron@rideapp.co</a></p>
                  <p><strong>Phone:</strong> +1 408 658 6180</p>
                  <p><strong>LinkedIn:</strong> <a href="https://co.linkedin.com/in/aaronlalux" target="_blank">View Profile</a></p>
                </div>
              </mat-card>              
        </article>

        <!-- Right SidebarComponent -->
        <aside class="w-1/4 bg-smokewhite">
            <mat-card class="profileCard" style="position: sticky; top: 2%;">
                <div class="imageContainer">
                    <img src="../assets/cover.avif" class="coverImage">
                    <div class="profileAvatar">
                        <img src="../../assets/profile pic.jpeg" id="profileAvatar">
                    </div>
                </div>
                <mat-card-content>
                    <section class="userCredentialSection">
                        <span style="font-weight:900">Sebastian Nae</span>
                        <span style="font-size: smaller; color: gray">@sebastianNaeDev_</span>

                        <div class="userMacro">
                            <div class="posts">
                                <span style="font-weight:900">250</span>
                                <span style="font-size: smaller; color: gray">Posts</span>
                            </div>

                            <div class="followers" style="margin-left: 20%">
                                <span style="font-weight:900">2000+</span>
                                <span style="font-size: smaller; color: gray">Followers</span>
                            </div>

                            <div class="following" style="margin-left: 20%;">
                                <span style="font-weight:900">590</span>
                                <span style="font-size: smaller; color: gray">Following</span>
                            </div>

                            <div class="following" style="margin-left: 20%;">
                                <span style="font-weight:900">2550</span>
                                <span style="font-size: smaller; color: gray">Balance</span>
                            </div>
                        </div>
                            
                        <!-- <button class="myProfileButton">My Profile</button> -->

                        <mat-card-actions class="cardActions" style="width: 100%;">
                            <button mat-raised-button class="wideButton">My profile</button>
                        </mat-card-actions>
                    </section>
                </mat-card-content>
            </mat-card>

            <mat-card class="yourShortcuts" style="position: sticky; top: 50%;">
                <div class="shortcutsHeader" style="width: 100%">
                    <span>Suggested for you</span>
                    <span style="color: gray; font-size: smaller; cursor: pointer">See all</span>
                </div>
                <div class="separator"></div>
                <div class="shortcutsContent">
                    <div class="shortcutsCombo">
                        <img src="../assets/crpyto.avif" class="shortcutsPic">
                        <span> Cryptocurrency </span>

                    </div>
                    <div class="shortcutsCombo">
                        <img src="../assets/worldCelebrities.avif" class="shortcutsPic">
                        <span> World Celebrities </span>

                    </div>
                    <div class="shortcutsCombo">
                        <img src="../assets/navalAcademy.avif" class="shortcutsPic">
                        <span> Naval Academia </span>

                    </div>
                    <div class="shortcutsCombo">
                        <img src="../assets/itTrends.avif" class="shortcutsPic">
                        <span> IT Trends </span>

                    </div>
                </div>
            </mat-card>
        </aside>

    </div>

</main>
