::ng-deep body {
    margin: 0 !important;
    padding: 2.5% !important;
    border: 0 !important;
    background-color: whitesmoke;
    font-family: Optima;
    // font-family: Roboto;
    // font-family: sans-serif;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--colors-shadeMediumTransparent, #f2f2f2); /* Fallback color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
  
.menu-button {
    padding: 10px 20px;
    border: none;
    background: none;
    color: white; // white vs black
    cursor: pointer;
    transition: all 0.2s ease 0s;
    z-index: 1;
}
  
.menu-button.active,
.menu-button:hover {
    background-color: #E9D5FF; //#E9D5FF vs silver
    color: black; // black vs white
    border-radius: 5px;
}
  
  /* Custom variables */
// :root {
//     --colors-shadeMediumTransparent: #f2f2f2;
//     --colors-shadeBlack: white; // white vs black
// }
  
/////////////////////////////////////////////////////////////////////

.sloganBg {
    background: linear-gradient(to right, #8C91DD, #DB46EE);
}


#profileAvatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.separator::before {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    margin: 10px 0;
}

.separator {
    height: 1px;
    background-color: silver;
    margin: 10px 0;
}

// ---------- Profile Card CSS -----------
.profileCard {
    margin-top: 7%;
    border-radius: 7%;
    height: 41vh; //330px sau 20.625
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imageContainer {
    position: relative;
    height: 30%;

    .coverImage {
        position: absolute;
        height: 90%;
        width: 90%;
        bottom: 0 !important;
        margin-left: 5%;
        border-radius: 2vh !important;
    }

    .profileAvatar {
        position: absolute;
        bottom: -20px; /* Adjust this to control how much the avatar overlaps the image */
        left: 50%;
        transform: translateX(-50%);
        background-color: teal;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 5px solid white;
    }
}

.userCredentialSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    .userMacro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;

        .following, .posts, .followers {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .wideButton {
        width: 100%;
        margin-top: 10%;
        background: linear-gradient(to right, #8C91DD, #DB46EE); 
        color: white; 
        font-weight: bold; 
        border-radius: 5px; 
        transition: background-color 0.3s; 
      }
      
      .wideButton:hover {
        background-color: purple;
      }
    // .myProfileButton {
    //     margin-top: 16%;
    //     background-color: ;
    // }
}

// ----------- YourShortcuts Card CSS ---------------

.yourShortcuts {
    margin-top: 7%;
    border-radius: 7%;
    height: 43vh; //330px
    padding: 25px;
    background-color: black;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.9) 0px 2px 8px 0px;

    .shortcutsHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .shortcutsContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2%;

        .shortcutsCombo {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        .shortcutsPic {
            border-radius: 50%;
            height: 45px;
            width: 45px;
            margin-right: 10%;
            margin-top: 3%;
        }
    }
}

.matCardContact {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
  
.contact-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.contact-details {
    font-size: 18px;
}
  
.contact-details a {
    color: #BD63E8;
    text-decoration: none;
}
  

// Media Queries

/* When mobile view*/

// @media (max-width: 1024px) {
//     .articleContent {
//       width: 200%;
//     }
// }

/* When height is less than 650px OR tablet view*/
@media (max-height: 700px) {
    .profileCard, .yourShortcuts {
      height: 300px;
    }
    .profileCard, .yourShortcuts:nth-child(2n) {
      margin-top: 20px;
    }
}

@media (max-width: 1366px), (max-height: 620px) {
    .profileCard, .yourShortcuts {
        display: none;
    }

    .articleContent {
        width: 200%;
    }
}
  