<mat-card *ngFor="let article of articles" class="article">
  
  <div class="row">
        <div class="left">
            <img [src]="article.OP_ProfilePic" class="opProfilePic">
            <div class="nameTime">
                <span>{{article.OP}}</span>
                <span style="font-size: smaller; color: gray;">{{article.timePosted}}</span>
            </div>
        </div>
        <div class="right">
            <button (click)="openMenu()" class="focus:outline-none">
                <div class="flex flex-col justify-between h-4">
                  <div class="bg-gray-700 w-1 h-1 rounded-full"></div>
                  <div class="bg-gray-700 w-1 h-1 rounded-full"></div>
                  <div class="bg-gray-700 w-1 h-1 rounded-full"></div>
                </div>
            </button>              
        </div>
    </div> <br/>
    <h3 style="font-weight: 900;"><u>{{article.title}}</u></h3> <br/>

    <span> {{article.description}} </span> <br/>

    <div *ngIf="article.image">
      <img [src]="article.image" alt="Article Image">
    </div>

    <!-- <div *ngIf="article.video">
      <video src="video_path_here" controls></video>
    </div> -->
    
    <div *ngIf="article.video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yqf8rAWDaK0" frameborder="0" allowfullscreen style="width: 100%"></iframe>
    </div>
    
    <p>Likes: {{article.likes}} | Comments: {{article.comments}} | Shares: {{article.shares}}</p>

    <!-- Option A - Buttons, then B.M. underneath -->
    <!-- <div class="button-section">
      <button class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg">
          <i class='bx bxs-like'></i> Like
      </button>
      <button class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg">
          <i class='bx bxs-comment'></i> Comment
      </button>
      <button class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg">
          <i class='bx bxs-share'></i> Share
      </button>
      <button class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg">
        <i class='bx bxs-donate-heart'></i> Offer
      </button>
    </div>

    <hr> -->

    <!-- Liquidity and Binary Marketing Boxes -->
    <!-- <div class="flex justify-between items-center financial-info">
        <div class="liquidity-box">
            Liquidity: <span class="liquidity-value">1000</span> <i class='bx bx-coin'></i>
        </div>
        <div class="binary-boxes">
            X: <span class="binary-value">0.40</span> <i class='bx bx-coin'></i>
            Y: <span class="binary-value">0.60</span> <i class='bx bx-coin'></i>
        </div>
    </div> -->

    <!-- Option B - Buttons and B.M. on the same line -->
    <div class="button-section" style="display: flex">
      <button class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg" style="flex-grow: 1;">
          <i class='bx bxs-like'></i> Like
      </button>
      <button class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg" style="flex-grow: 1;">
          <i class='bx bxs-comment'></i> Comment
      </button>
      <button class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg" style="flex-grow: 1;">
          <i class='bx bxs-share'></i> Share
      </button>
      <button class="text-black hover:bg-purple-100 px-3 py-2 rounded-lg" style="flex-grow: 1;">
        <i class='bx bxs-donate-heart'></i> Offer
      </button>

        <div class="liquidity-box-alt" style="margin-left: 2%; flex-grow: 1;">
            Liquidity: <br/> <span class="liquidity-value">{{article.liquidity | currency:'USD': 'symbol' : '1.0-0'}}</span>
        </div>
        <div class="binary-boxes-alt" style="flex-grow: 1;">
            <span>Yes:</span> <span class="binary-value" style="color: green; display: flex; align-items: center;">{{article.yes}} <img src="../../assets/Betcoin.png" alt="Betcoins" style="width: 10px;"></span>
        </div>
        <div class="binary-boxes-alt" style="flex-grow: 1;">
            <span>No:</span> <span class="binary-value" style="color: red;display: flex; align-items: center;">{{article.no}} <img src="../../assets/Betcoin.png" alt="Betcoins" style="width: 10px;"></span>
        </div>
    </div>
    <hr>
</mat-card>