.article {
    padding: 5%;
}
.article:not(:first-child) {
    margin-top: 5%;
}

img, video {
    width: 100%;
}

.opProfilePic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left {
        display: flex;
        flex-direction: row;

        .nameTime {
            width: 200px;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
        }
    }
}

//////////////////////////////////////////
.financial-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.liquidity-box, .binary-boxes {
    background: #f3e8ff;
    padding: 10px;
    border-radius: 5px;
}

.liquidity-value, .binary-value {
    font-weight: bold;
}

//// ALT ///
.liquidity-box-alt, .binary-boxes-alt {
    // background-color: #f3e8ff; // or without
    padding: 10px;
    border-radius: 5px;
}

.binary-boxes-alt {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
}

/// Media Queries: ///

@media (max-width: 690px) {
    .binary-boxes-alt {
        display: none;
    }
}
